.title1 {
  font-family: "Dancing Script", cursive;
  font-family: "Jost", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lilita One", cursive;
  font-family: "Secular One", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
