.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda-sc-title {
  font-family: cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playwrite-gb-j-title {
  font-family: serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
